/**********************************************
*** GENERAL
**********************************************/
@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    color: #555;
    font-family: 'Open Sans';
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.right { float: right; }

/**********************************************
*** TOP PART
**********************************************/

.top {
    height: 20px;
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 1px;
    background: #642B73;  /* fallback for old browsers */  /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#C6426E), to(#642B73));
    background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add__container {
    margin: 0 auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
}

.add__type, .measure {
    width: 55px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 300;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.measure {
    width: 80px;
}

.add__title,
.add__quantity {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.add__title { width: 400px;}
.add__quantity { width: 100px;}

.add__btn {
    font-size: 15px;
    background: white;
    padding: 0 20px;
    border: 1px solid #555;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
}

.add__btn img {
    margin-right: 5px;
    height: 25px;
    width: 25px;
}

.add__btn:active { -webkit-transform: translateY(2px); transform: translateY(2px); }

.add__type:focus,
.add__title:focus,
.add__quantity:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add__btn:focus { outline: none; }

/***** LISTS *****/
.container {
    width: 1000px;
    margin: 60px auto;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child { border-top: 1px solid #e7e7e7; }
.item:nth-child(even) { background-color: #f7f7f7; }

.item__title {
    float: left;
}

.item__value {
    float: left;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.item__delete--btn {
    color: #FF5049;
}


.item__delete {
    float: left;
}

.item__delete--btn {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item__delete--btn:focus { outline: none; }
.item__delete--btn:active { -webkit-transform: translateY(2px); transform: translateY(2px); }

.item:hover .item__delete--btn { display: block; }
.item:hover .item__value { -webkit-transform: translateX(-20px); transform: translateX(-20px); }